
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
  
  padding-top: 70px;
}

/* Sponsors Section */
.sponsor-logo {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-moz-transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	width: 70%;
}

.sponsor-logo:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.toggle-item-title {
	cursor: pointer;
}

.toggle-item-title {
	
	padding: 0 32px 0 0;
}

.toggle-item-title.ui-state-active {

	padding: 0 32px 0 0;
}

.underline{	
	padding-bottom:10px;	
	border-bottom: 1px solid #ddd; 
	margin:0 0 20px 0;
	border-color: #e10000;
	clear:both;
}



